.caption-line{
    font-size: 30px;
    font-weight: 300;
    color: #999999;
}

.analiz-status{
    font-size: 30px;
    font-weight: 300;
    color: #00962e;
}

.position-personal-info{
    display: flex;
    align-items: flex-start;
    padding-right: 87px;
    padding-bottom: 52px;
    border-bottom: 1px solid #dddd;
    margin-bottom: 59px;
}

.analiz-section{
    padding-top: 86px;
    padding-bottom: 93px;
}

.personal-info__text{
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #000000;
}

.personal-info__text:not(:last-child){
    margin-bottom: 21px;
}

.personal-info{
    margin-right: auto;
}

.personal-info__text-docoration{
    font-weight: 300;
}

.action__link-download{
    background: url('../img/ico_download.svg') 0% 50% no-repeat;
    background-size: 16px;
}

.action__link-email{
    background: url('../img/ico_email.svg') 0% 50% no-repeat;
    background-size: 16px;
}

.action__link-print{
    background: url('../img/ico_print.svg') 0% 50% no-repeat;
    background-size: 16px;
}

.action__link{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #009cf2;
    padding-left: 24px;
    display: block;
    background-color: unset;
}

.action__link:not(:last-child){
    margin-bottom: 0px;
}

.analiz__caption{
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 38px;
}

.analiz__description-position{
    display: flex;
    margin-bottom: 30px;
    align-items: flex-start;
}

.analiz__text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    margin-right: 47px;
}

.analiz__text-decoration{
    font-weight: 300;
}

table{
    border-spacing: 0px;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
}

table th{
    text-align: left;
    background-color: #edeef0;
}

table th:not(:last-child){
    border-right: 1px solid #dddd;
}

.arrow-green{
    font-weight: 400;
    color: #00b388;
}

.arrow-red{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
    font-weight: 400;
    color: #f8485e;
}

table tbody tr:nth-child(2n) {
    background-color: #fafafa;
}

.analiz-results{
    padding-bottom: 56px;
    border-bottom: 1px solid #dddd;
    margin-bottom: 60px;
}

.last-block{
    margin-bottom: 61px;
    border-bottom: none;
    padding-bottom: 0;
}

.analiz__alert-text{
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    color: #ee0218;
    padding-left: 57px;
    position: relative;
    width: 780px;
}

.analiz__alert-text::before{
    content: "";
    width: 40px;
    height: 40px;
    background: url('../img/ico_alert_40_18804.png') 50% no-repeat;
    background-size: 40px;
    position: absolute;
    left: 0;
}

@media (max-width: 1279px){
    
    .four-th{
        width: 190px;
    }


}

@media (max-width: 1279px){
    
    .position-personal-info{
        padding-right: 0;
    }

    .analiz__caption{
        font-size: 22px;
        line-height: 32px;
    }

    .table__overflov {
        display: block;
        overflow: auto;
        max-width: 100%;
    }

    table{
        width: 968px;
        overflow: scroll;
    }

    .analiz-section {
        padding-top: 76px;
        padding-bottom: 69px;
    }


}


@media (max-width: 1279px){

    .analiz-section {
        padding-top: 44px;
        padding-bottom: 49px;
    }

    .caption-line{
        display: none;
    }

    .analiz-status{
        display: block;
    }

    .position-personal-info{
        flex-direction: column;
        padding: 0;
        margin-bottom: 47px;
    }

    .number__analiz{
        font-size: 26px;
        line-height: 32px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 45px;
    }

    .analiz-status{
        font-size: 22px;
        font-weight: 300;
        color: #00962e;
        margin-top: 10px;
    }

    .personal-info{
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 39px;
        border-bottom: 1px solid #dddd;
        width: 100%;
        margin-bottom: 39px;
    }

    .block-action{
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 39px;
        width: 100%;
    }

    .analiz__caption{
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 34px;
    }

    .analiz__description-position{
        flex-direction: column;
    }

    .analiz__text:not(:last-child){
        margin-bottom: 18px;
    }

    .analiz__alert-text{
        width: 100%;
    }

    table {
        width: 775px;
        overflow: scroll;
    }
}