.section__record__doctor{
    padding-top: 86px;
    padding-bottom: 96px;
}

.record__doctor-form-position{
    width: 528px;
}

.record-doctors__caption-form{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
    display: block;
}

.record-doctors__input-form{
    width: 100%;
    height: 48px;
    border: 1px solid #bbbbbb;
    outline: none;
    margin-bottom: 36px;
    padding-left: 16px;
    padding-right: 16px;
}

.record-doctors__textarea-form{
    width: 100%;
    height: 120px;
    border: 1px solid #bbbbbb;
    resize: both;
    outline: none;
    margin-bottom: 0px;
}

.record-doctor__description{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 49px;
}

.checkbox-position-record{
    display: flex;
    position: relative;
}

.checkbox {
    position: absolute;
    opacity: 0;
    transition-property: color,border,border-bottom,outline;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.checkbox-span,.input-price{
    transition-property: color,border,border-bottom,outline;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}
  
.checkbox-span {
    display: inline-block;
    align-items: center;
    padding-left: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
}

.checkbox-span a{
    color: #009cf2;
}
  
.checkbox-span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #999999;
}
  
.checkbox-span::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('../img/check_white.png') 50% no-repeat;
    background-color: unset;
    top: 4px;
    right: 0;
    bottom: 0;
    left: 0px;
    opacity: 0;
    text-align: center;
}
  
.checkbox:checked + .checkbox-span {
    background-color: #fff;
}

.checkbox:checked + .checkbox-span::after {
    opacity: 1;
    background-color: #009cf2;
}

.checkbox:checked + .checkbox-span::before {
    border: 1px solid #009cf2;
}

.check-div{
    position: relative;
    margin-top: 36px;
}

.record__doctors-btn{
    width: 352px;
    height: 48px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    background-color: #067881;
    margin-top: 31px;
}

.record__doctors-image{
    width: 100%;
    max-width: 513px;
    height: 441px;
    border: 1px solid #dddddd;
}

.record__doctor-position{
    display: flex;
    align-items: flex-start;
}

.record__doctor-form-position{
    margin-right: auto;
}

.feedback-doctors__textarea-form{
    height: 200px;
}

.input-date{
    background: url('../img/ico_calendar.svg') 50% no-repeat;
    width: 20px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: default;
}

.table-responsive, table{
    margin: 0;
}

.calendar-wrapper .Sunday {
    background: rgba(6, 120, 129, 0.3);
}

.calendar-wrapper .CurrDay {
    background: rgba(6, 120, 129, 0.3);
}

.calendar-wrapper table{
    font-family: initial;
}

.calendar-wrapper{
    box-shadow: 0 0 5px #999;
}

.date-position{
    position: relative;
    margin-bottom: 36px;
}

.calendar-open{
    display: block !important;
}

.nav__item-open{
    position: relative;
}

.nav__item-open::after{
    content: "";
    width: 105%;
    border-bottom: 2px solid #067881;
    position: absolute;
    left: -4px;
    bottom: -19px;
}